<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submission Successful</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="success-container">
    <div class="aadhaar-icon"></div>
    
    <h1>Aadhaar Verified Successful!</h1>
    <p>Your Aadhaar details have been successfully submitted and verified.</p>
    <p>You can close the window.</p>
   
  </div>
</body>
</html>
